html, 
body {
    height: 100%;
}
body{ 

background: rgb(28,55,99);
background: linear-gradient(90deg, rgba(28,55,99,1) 0%, rgba(108,50,79,1) 49%, rgba(108,50,75,1) 100%);


}

.page{ background-image: url(../images/user.png); background-size: 100% auto; padding-top: 25px; height: 100%; background-repeat: no-repeat; }
.startbtn{ text-align: right; }
.startbtn a{  border: 1px solid #fff; border-radius: 30px; color: #fff; padding: 10px 40px; margin-top: 15px; text-transform: uppercase; font-size: 14px; font-weight: 500; letter-spacing: 1px; }
.startbtn a:hover{ text-decoration: none;  }
.logo{ width: 150px; }
.signin{ margin-top: 26%; color: #ffffff; text-align: right; }
.signin h2{ font-family: 'Noto Serif', serif; font-weight: 700; text-align: left; }
.signin input{ color: #ffffff; display: block; letter-spacing: 1px; margin-top: 20px; background: transparent; border: 1px solid #fff; border-radius: 30px; padding: 5px 20px; height: 60px; width: 100%; font-family: 'Titillium Web', sans-serif; outline: none; }
::placeholder { color: #ffffff; }
.signin input[type="submit"] { background: #1C3763; border: none; margin-bottom: 10px;	transition: all 0.5s; cursor: pointer;  }
.signin input.submit:hover { background: #ffffff; transition: all 0.5s; color: purple;   }
.signin a{ display: block; text-align: right;  color: #cac7c7; font-size: 14px; line-height: 24px; text-decoration: underline;	transition: all 0.3s; }
.signin a:hover{ color: #fff;	transition: all 0.3s; }


.btn-eon{ background: transparent; transition: all 0.5s;  }
.btn-eon:hover{ background: white; color: purple; transition: all 0.5s; border-color: purple;	   }
.nomember, .start{ display: inline-block !important;  color: #cac7c7; font-size: 14px; }
.page .offset-md-6{ margin-left: 80%; opacity: 0.1; }


input[type="text"] {
  width: 100%;
}

.border, .border2{  visibility: hidden; }
.input {
  border: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.input ~ .border {
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #27ad8a;
}

.input:focus ~ .border {
  width: 82%;
  transition: 0.5s;
  margin-left: 44px;
  visibility: visible; 

}


.input2 ~ .border2 {
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
}

.input2:focus ~ .border2 {
  width: 82%;
  transition: 0.5s;
  margin-left: 44px;
  visibility: visible; 

}







@media only screen and (max-width: 1100px) {
  .signin{ margin-top: 14%; }

}
@media only screen and (min-width: 1200px) {
  .container{ width: 1000px; }  	
}



@media only screen and (min-width: 1800px) {
  .signin{ margin-top: 56%; }  	
}


@media only screen and (min-width: 3000px) {
  .page{ background-position-y: 45%; }  	
}


@media only screen and (max-width: 767px) {
    .withbg .col-md-6{ margin-left: 50%; max-width: 100%; width: 100%;  }
    .page { background-position: 65px 10%; }
    .eontop .col-md-6:nth-child(1){ width: 40%;  }
    .eontop .col-md-6:nth-child(1) img{ width: 100%;  }
    .eontop .col-md-6:nth-child(2){ width: 60%;  }
    .startbtn a{ padding: 5px 15px; border-radius: 15px; font-size: 12px; margin-top: 3px; font-weight: 300; }
    .input2:focus ~ .border2{ width: 72%; }
    .input:focus ~ .border{ width: 72%; }
    .signin h2{ /*background: #09090942;*/ padding: 10px 15px; font-size: 23px; }
    .startbtn a{ margin-top: 8px;  }
    .withbg .col-md-6{ margin-top: 140px; }



}

